.container {
    margin: auto;
    /* max-width: 500px; */
    font-family: sans-serif;
}


.heading {
  color: #FF9900;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-weight: bold;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: #FF0000;
}

.site-title {
  font-size: 3rem;
  color: #FF0000;
  text-shadow: 2px 2px #0000FF;
  font-weight: 700;
  margin: 3rem 0;
}

body {
  background-color: white;
  color: #0000FF;
  font-size: 1rem;
}