
article h2 a {
  font-size: .6em;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

article p {
  font-family: 'Courier New', Courier, monospace;
  font-size: .6em;
  border: 0px;
  padding: 0px;
  margin: 0px;
}