.post-list {
  display: flex;
  flex-direction: column;
}

.post-list article h2 a {
  font-size: .6em;
  border: 0em;
}

.post-list article p {
  font-family: 'Courier New', Courier, monospace;
  font-size: .6em;
  border: 0em;
}